<div class="jumbotron">
  <h1>Stream It!</h1>
  <p class="lead">
    <img src="images/music-streams.jpg" alt="Stream It banner"><br>
    All your music, a button click away
  </p>
</div>

<div class="row">
  <nav>
    <ul class="pager">
      <li><a href="" ng-click="getPreviousTracks()">Previous</a></li>
      <li><a href="" ng-click="getNextTracks()">Next</a></li>
    </ul>
  </nav>
</div>


<div class="media-list">
  <div class="row media" ng-repeat="track in tracks">
   <div class="col-sm-4">
     <div class="media-left">
       <a ng-href="#/track/{{ track._id }}">
         <img class="media-object img-responsive" ng-src="{{ track.image }}" alt="{{ track.title }}">
       </a>
     </div>
   </div>
   <div class="col-sm-8">
     <div class="media-body">
      <h4 class="media-heading"> {{ track.title }} </h4>
      <p>
        {{ track.artistes }}
      </p>
      <p>
        {{ track.createdAt | date }}
      </p>
      <p>
        <span class="label label-default">{{ track.category }}</span>
      </p>
       <audio controls>
         <source ng-src="{{ trustSrc(track.mp3Url) }}" type="audio/mpeg">
         Your browser does not support the features required to play music from this site.
         Please use a different browser to enjoy the full StreamIt experience.
       </audio>
     </div>
   </div>
  </div> 
</div>


<div class="row">
  <nav>
    <ul class="pager">
      <li><a href="" ng-click="getPreviousTracks()">Previous</a></li>
      <li><a href="" ng-click="getNextTracks()">Next</a></li>
    </ul>
  </nav>
</div>
